services:
  mongo:
    image: mongo:7
    container_name: chat-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    env_file:
      - ./.env

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: chat-backend
    restart: unless-stopped
    ports:
      - "8481:8080"
    depends_on:
      - mongo
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/uploads:/root/uploads

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: chat-frontend
    restart: unless-stopped
    ports:
      - "3391:3000"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env

volumes:
  mongo_data:
